/* colors 
white- #eeeeee;
black- #080001;
navy-dark: #1b244a;
red: #f94f6d;
light-blue: #9aabd8;
*/

/* special font */
@font-face {
  font-family: "CursiveTimer";
  src: url(./font/CursedTimerUlil-Aznm.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* base styles */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "CursiveTimer", monospace;
  font-weight: normal;
  background-color: #1b244a;
}

button {
  font-family: inherit;
  display: inline-block;
  cursor: pointer;
}

h2,
h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: #eee;
  text-transform: uppercase;
}

/* scoreboard styles */
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 93%;
  max-width: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#message {
  color: #9aabd8;
  font-size: 32px;
  margin-bottom: 48px;
  line-height: 1.3;
  text-align: center;
}

h2 {
  font-size: 56px;
  margin-bottom: 16px;
}

.scoreboard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  padding: 35px 20px;
}

.scoreboard-wrapper {
  display: flex;
}

.scoreboard-card {
  background-color: #080001;
  width: 85%;
  border-radius: 8px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.scoreboard-score-total {
  font-size: 84px;
}

.red-text {
  color: #f94f6d !important;
}

.scoreboard-buttons {
  width: 85%;
  display: flex;
  justify-content: space-between;
}

.scoreboard-btn {
  border: 0;
  border: 2px solid #9aabd8;
  background-color: #1b244a;
  color: #9aabd8;
  padding: 14px 18px;
  font-size: 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.23s ease;
}

.scoreboard-btn:hover {
  background-color: #9aabd8;
  color: #1b244a;
}

.scoreboard-btn--cta {
  background-color: #eee;
  color: #1b244a;
  border-color: #eee;
  text-transform: uppercase;
  margin-bottom: 46px;
}

.scoreboard-btn--cta:hover {
  border-color: #9aabd8;
}

.fouls-text {
  font-size: 18px;
  margin-bottom: 24px;
}

.active {
  border: 2px solid lime;
  border-radius: 4px;
}

.hide {
  display: none;
}

.disabled {
  filter: blur(3px);
  opacity: 0.5;
}
