/* colors 
white- #eeeeee;
black- #080001;
navy-dark: #1b244a;
red: #f94f6d;
light-blue: #9aabd8;
*/

/* special font */
@font-face {
  font-family: "CursiveTimer";
  src: url(./font/CursedTimerUlil-Aznm.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* base styles */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "CursiveTimer", monospace;
  font-weight: normal;
  background-color: #1b244a;
}

button {
  font-family: inherit;
  display: inline-block;
  cursor: pointer;
}

h1,
h2,
h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: #eee;
  text-transform: uppercase;
}

/* scoreboard styles */
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 93%;
  max-width: 800px;
  display: flex;
  justify-content: space-between;
}

h2 {
  font-size: 56px;
}

.scoreboard {
  border: 2px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
